doctype html
html(lang="ru-RU")
	include ../layouts/head
	body
		include ../common/lang-social
		div(class="wraper clearfix")
			include ../common/main
			include ../common/sidebar
		.footer
			include ../layouts/footer