div(class="footer-wraper clearfix wraper")
		.bootom &#169;2015. Это мой сайт, пожайлуста не копируйте и не воруйте его

		script(src="bower/jquery/dist/jquery.min.js")
		script(src="bower/qtip2/jquery.qtip.js")
		script(src="bower/jquery-placeholder/jquery.placeholder.js")
		script(src="js/main.js")
		